:root {
  --dollar-bill-green: #85bb65;
  --blue: #7583a7;
  --text-shadow: 2px 1px black;
}

#charts-title {
  color: var(--dollar-bill-green);
  text-shadow: var(--text-shadow);
  text-align: center;
  font-size: 4em;
  margin: 30px;
}

.monthly-spending-title {
  color: black;
  text-align: center;
  font-size: 3em;
}

.dropdown_container {
  display: block;
  font-size: 1.5em;
  text-align: center;
  color: var(--blue);
  margin-bottom: 1em;
}

.dropdown_label {
  margin-right: 0.25em;
}

#dropdown {
  font-size: 0.65em;
  color: white;
  background-color: var(--blue);
  padding: 0.25em;
  border: var(--dollar-bill-green) solid 2px;
  border-radius: 10px;
}

.card-chart {
  min-width: 45vw;
}

.card {
  background: white;
  box-shadow: 3px 3px lightgray;
  padding: 0;
}

.card-chart-header {
  background: var(--dollar-bill-green);
}

.card-chart-body {
  background: rgb(238, 246, 248);
}

canvas {
  width: 75% !important;
  margin: auto !important;
}

.chart {
  margin-top: 0;
}

.savings {
  border: lightgray 3px solid;
  margin: 0px 35px;
  padding: 15px;
  color: var(--dollar-bill-green);
  background-color: rgb(238, 246, 248);
  text-align: center;
}

.form-heading {
  color: var(--dollar-bill-green);
  text-shadow: var(--text-shadow);
  font-size: 2em;
  text-align: center;
}

.calculator-div {
  background: lightgray;
  margin: 15px 30px;
  padding: 15px 0;
}

.calculator-form {
  max-width: 200px;
  text-align: center;
  margin: 15px auto 15px auto;
  color: black;
}

#result-div {
  text-align: center;
  font-size: 2em;
  color: var(--blue);
  margin-bottom: 50px;
}

.red-text {
    color: red;
}

.green-text {
    color: var(--dollar-bill-green);
}

.red-text {
  color: red;
}

.blue-text {
  color: var(--blue);
}

.calc-button {
    background: var(--dollar-bill-green);
    color: white;
}

#result {
  text-align: center;
  font-size: 1em;
  color: red;
  animation: blinker 2s step-start infinite;
}

@keyframes blinker {
  50% {
    color: var(--blue);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) { /* iPad viewport */
  .row {
    margin: auto
  }
  
  .card-chart {
    width: 80vw;
    height: 50vh; 
    margin: 15px auto; 
  }

  .canvas {
    width: 75vw;
    height: 100vh;
    margin: auto;
  }
}

@media screen and (max-width: 767px) { /* iPad viewport */
  
  .card-chart {
    margin: 15px auto !important; 
    width: 90vw !important;

  }

  .card-body {
    margin: 15px !important;
  }
  
  canvas {
    width: 100% !important;
    flex: auto !important;
  
    margin: auto !important;
  }
  

  
}


