:root {
  --dollar-bill-green: #85bb65; 
  --text-shadow: 2px 1px black;
}

body {
  font-style: "Montserrat, non-serif";
  background: white; 
  align-items: center;
}

.home-body {
  position: center;
  font-style: "Montserrat, non-serif";
  /* background:#034f84;   */
  background: white;  
  font-weight: 900;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  color: rgb(25, 43, 57);
  padding-right: 20px;
  margin-bottom: -50px;
}

.navbar {
  z-index: 999;
  background: var(--dollar-bill-green);
}

.nav-link {
  color: var(--dollar-bill-green);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: var(--dollar-bill-green);
}

.login-signup-button {
  background-color: var(--dollar-bill-green) !important;
  border: none;
}

.home-body h1 {
  margin-top: 25px;
  font-style: "Montserrat, non-serif";
  font-weight: 900;
  font-size: 4em;
  color: var(--dollar-bill-green);
}

.home-body h6 {
  font-size: 1.75em;
  font-weight: 500;
  max-width: 1000px;
  max-height: 600px;
  padding: 15px;
  margin-top: 15px;
  color: #fff;
  animation: slideUp 1s ease-in-out;
  background-color: #3c4344;
  border-radius: 10px;
  box-shadow: white 5px 5px 15px;
  line-height: 1.5em;
}

.chart-div {
  text-align: center;
  margin: 15px 0px 15px 15px;
}

.chart-image {
  text-align: center;
  width: 30%;
  margin: auto;
  border-radius: 10px;
  box-shadow: white 5px 5px 15px;
  animation: slideUp 1s ease-in-out;
}

.col-md-12 {
  background-color: transparent;
}

.row {
  background-color: transparent;
}

.mt-5 {
  text-align: center;
  align-items: center;
}

@keyframes textclip {
  
  to {
    background-position: 200% center;
  }
  
}

@keyframes slideRight{
  0% {
  transform: translateX(-100%);
  }
  100% {
  transform: translateX(0%);
  }
}

@keyframes slideLeft{
  0% {
  transform: translateX(300%);
  }
  100% {
  transform: translateX(0%);
  }
}

@keyframes slideUp {
  0% {
  transform: translateY(300%);
  }
  100% {
  transform: translateY(0%);
  }
}

.feature-title {
  background-color: lightgray;
  border-radius: 5px;
  margin-left: 25px;
  color: black;
  box-shadow: 3px 3px black;
  animation: slideRight 500ms;
}

.feature-list {
  background-color: var(--dollar-bill-green);
  border-radius: 5px;
  margin-left: 25px;
  box-shadow: 3px 3px black;
  color: white;
  animation: slideRight 500ms;
}

.home-subtitle {
  font-size: 1.25em;
}

.budget-text {
  font-size: 1.25em;
}

.budget-image {
  animation: slideLeft 500ms;
  border-radius: 10px;
}

.testimonial {
  background: var(--dollar-bill-green);
  color: white;
  border-radius: 5px;
  box-shadow: slategray 3px 3px;
  animation: slideUp 500ms;
}

.testimonials-title {
  color: var(--dollar-bill-green);
  text-shadow: var(--text-shadow);
}

.card-features {
  min-width: 35vw;
  margin-bottom: 100px;
}

.card-header-features {
  background: var(--dollar-bill-green);
}

.card-testimonials {
  background: var(--dollar-bill-green);
  color: white;
}

.footer {
  background-color: var(--dollar-bill-green);
}

.footer-text {
  font-size: 1em;
}


@media screen and (max-width: 400px) {
  .card-text {
    font-size: 0.8em;
  }

  table {
    font-size: 0.75em;
  }
}