body {
  font-style: "Montserrat, non-serif";
  background: #8f94fb; 
  align-items: center;
}

.home-body {
  position: center;
  font-style: "Montserrat, non-serif";
  /* background:#034f84;   */
  background:#8f94fb;  
  font-weight: 900;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  color: rgb(25, 43, 57);
  padding-right: 20px;
  margin-bottom: -50px;
}


.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.navbar {
  z-index: 999;
}

@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

.home-body h1 {
  font-style: "Montserrat, non-serif";
  font-weight: 900;
  font-size: 8em;
  animation: texclip 1.5s linear infinite;
  background: linear-gradient(to right, #d4af37 10%, #E5E4E2 50%, #a97142 60%);
  background-clip: border-box;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite;
  display: inline-block;
}

.home-body h6 {
  font-size: 1.75em;
  font-weight: 500;
  max-width: 1000px;
  max-height: 600px;
  padding: 15px;
  margin-top: 15px;
  color: #fff;
  animation: slideUp 1s ease-in-out;
  background-color: #3c4344;
  border-radius: 10px;
  box-shadow: white 5px 5px 15px;
  line-height: 1.5em;
}

.chart-div {
  text-align: center;
  margin: 15px 0px 15px 15px;
}

.chart-image {
  text-align: center;
  width: 30%;
  margin: auto;
  border-radius: 10px;
  box-shadow: white 5px 5px 15px;
  animation: slideUp 1s ease-in-out;
}

.col-md-12 {
  background-color: transparent;
}

.row {
  background-color: transparent;
}

.mt-5 {
  text-align: center;
  align-items: center;
}

.container h1 {
  margin-bottom: 50px;
}
@keyframes textclip {
  
  to {
    background-position: 200% center;
  }
  
}

@keyframes slideRight{
  0% {
  transform: translateX(-100%);
  }
  100% {
  transform: translateX(0%);
  }
}

@keyframes slideLeft{
  0% {
  transform: translateX(300%);
  }
  100% {
  transform: translateX(0%);
  }
}

@keyframes slideUp {
  0% {
  transform: translateY(300%);
  }
  100% {
  transform: translateY(0%);
  }
}

.feature-title {
  background-color: lightgray;
  border-radius: 5px;
  margin-left: 25px;
  color: black;
  box-shadow: 3px 3px black;
  animation: slideRight 500ms;
}

.feature-list {
  background-color: seagreen;
  border-radius: 5px;
  margin-left: 25px;
  box-shadow: 3px 3px black;
  color: white;
  animation: slideRight 500ms;
}

.home-subtitle {
  font-size: 1.25em;
}

.budget-text {
  font-size: 1.25em;
}

.budget-image {
  animation: slideLeft 500ms;
  border-radius: 10px;
}

.testimonial {
  background-image: linear-gradient(#7e83d8, #a0bed4);
  border-radius: 5px;
  box-shadow: slategray 3px 3px;
  animation: slideUp 500ms;
}

